.customHeader {
  text-align: center;
  font-family: 'VodafoneExB', sans-serif;
  font-weight: 900;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 30px;
  user-select: none;
}

.customHeader::first-letter {
  text-transform: uppercase;
}
