<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" value="text/html; charset=utf-8" />
    <% if (cssUrl) { %>
    <link href="<%= cssUrl %>configuration.css?<%= date %>" rel="stylesheet"
        type="text/css" /> <% } %>
    <style>
        .bp3-toast-container.bp3-toast-container-bottom {
            max-width: none;
        }
    </style>
    <script src="<%= jsUrl %>common-vendor.js?<%= date %>"></script>
    <script src="<%= jsUrl %>config-vendor.js?<%= date %>"></script>
    <script src="<%= jsUrl %>configuration.js?<%= date %>"></script>
</head>

<body>
    <div id="hover"></div>
    <div id="main"></div>
</body>

</html>