<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" value="text/html; charset=utf-8" />
    <% if (cssUrl) { %><link href="<%= cssUrl %>view.css?<%= date %>" rel="stylesheet" type="text/css"/> <% } %>
    <script src="<%= jsUrl %>common-vendor.js?<%= date %>"></script>
    <script src="<%= jsUrl %>view-vendor.js?<%= date %>"></script>
    <script src="<%= jsUrl %>view.js?<%= date %>"></script>
</head>
<body>
    <div id="main"></div>
</body>
</html>