.headerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 15px;
  text-align: center;
  cursor: pointer;
  line-height: 1.25;
}
.titleBlock {
  width: 100%;
  font-family: 'VodafoneExB', sans-serif;
  font-size: 22px;
  word-spacing: normal !important;
  letter-spacing: normal !important;
}

.subTitleBlock {
  width: 100%;
  margin-top: 21px;
  font-family: 'VodafoneLt', sans-serif;
  font-size: 13px;
  word-spacing: normal !important;
  letter-spacing: normal !important;
}

.boardLogo {
  display: block;
  flex: 0 0 auto;
  max-width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-top: 37px;
}

@media screen and (width: 800px) {
  .boardLogo {
    margin-top: 25px;
  }
  .headerBlock {
    padding: 20px 15px;
  }
}

@media screen and (width: 460px) {
  .boardLogo {
    margin-top: 25px;
  }
  .headerBlock {
    padding: 15px !important ;
  }
  .titleBlock {
    font-size: 20px !important;
  }
}

@media screen and (width: 300px) {
  .boardLogo {
    margin-top: 20px;
  }
  .headerBlock {
    padding: 15px;
  }
  .titleBlock {
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) and (min-width: 301px) {
  .boardLogo {
    margin-top: 25px;
  }
  .headerBlock {
    padding: 15px;
  }
  .titleBlock {
    font-size: 20px;
  }
}
