.customHeaderBlock {
  margin-bottom: 20px;
}

.input {
  display: block;
  margin: 0 auto;
  width: auto !important;
  text-align: center;
  width: 80% !important;
}

.customHeader {
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 3px;
  cursor: pointer;
}

.customHeaderHint {
  text-align: center;
  font-size: 12px;
  color: #5a5a5a;
}
