.raitingBlock {
  padding: 40px 40px 40px 30px;
  word-spacing: 2px;
  letter-spacing: 0.5px;
}

@media only screen and (min-width: 940px) and (max-width: 940px) {
  .raitingBlock {
    padding: 30px 5px 30px 0px !important;
  }
}

@media only screen and (min-width: 800px) and (max-width: 800px) {
  .raitingBlock {
    padding: 30px 5px 30px 0px !important;
  }
}

@media only screen and (min-width: 460px) and (max-width: 460px) {
  .raitingBlock {
    padding: 20px 5px !important;
  }
}

@media only screen and (min-width: 301px) and (max-width: 640px) {
  .raitingBlock {
    padding: 20px;
  }
}

@media only screen and (max-width: 300px) {
  .raitingBlock {
    padding: 10px !important;
  }
}
