.leadersBlock {
  padding: 15px 12px;
}

.listLeadersTitle {
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'VodafoneRgBd', sans-serif;
  margin-bottom: 5px;
}

.buttonsBlockForFindUsers {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttonsBlockForFindUsers > button {
  margin: 0;
}

.HINT_maxUsersReach {
    display: none;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}
