.configItemBlock {
  margin-bottom: 15px;
}

.headerBoardBlock {
  display: inline-block;
  margin-right: 7px;
  font-family: 'VodafoneExB', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #e60000;
  cursor: pointer;
}

.insertCopyConfig {
  display: inline-block;
  margin-right: 7px;
  font-family: 'VodafoneRg', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #e60000;
}

.iconArrow {
  font-family: 'VodafoneRg', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #e60000;
  width: 18px;
  height: 18px;
}

.manageConfigPanel {
  padding: 10px 12px;
}
