:local(.main) {
    margin: 15px auto;
}

:local(.main) .tabs-content {
    margin-top: 10px;
}

:local(.main) .action-button {
    margin-top: 10px;
}

:local(.main) .copy-to-buffer{
    color: #E60000;
    text-align: center;
}


