.bp3-tab-list {
    display: flex;
    align-items: flex-end;
    position: relative;
    flex: 0 0 auto;
    margin: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    list-style: none;
}

.bp3-tab-indicator-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: height 0.2s cubic-bezier(0.4, 1, 0.75, 0.9) 0s, transform 0s, width 0s;
}

.bp3-tab-list > :not(:last-child) {
    margin-right: 20px;
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(16, 107, 163);
    height: 3px;
}

.bp3-tab {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: normal;
    position: relative;
    cursor: pointer;
    max-width: 100%;
    vertical-align: top;
    line-height: 30px;
    color: rgb(24, 32, 38);
    font-size: 16px;
    overflow: hidden;
    flex: 0 0 auto;
}

.bp3-tab[aria-selected="true"] {
    box-shadow: rgb(230, 0, 0) 0px -3px 0px inset !important;
    border-radius: 0px;
}

.bp3-tab:not([aria-disabled="true"]):hover .bp3-tab[aria-selected="true"] {
    color: rgb(230, 0, 0);
}

.bp3-input.bp3-fill {
	width: 100%;
	resize: vertical;
    margin-top: 6px;
    border-radius: 6px;
    padding: 3px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}

.bp3-button {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    font-size: 14px;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 6px;
    padding: 0px 10px;
}

:local(.main) .field {
	margin:7px 0 23px;
	display: inline-block;
	width: 100%;
}

:local(.main) .bp3-input{
	font-size: 16px;
	padding-left: 0px;
	height: 32px;
	margin-top: 1px;
	margin-left: 0;
}

:local(.main) .tabs-content .bp3-input{
	font-size: 16px;
}

:local(.main) .bp3-input.bp3-fill{
	border-radius: 6px;
	padding: 3px 8px;
	border: 1px solid transparent;
	margin-top:6px;
}

:local(.main) .bp3-numeric-input .bp3-button-group.bp3-vertical > .bp3-button:last-child{
	min-height: 16px;
	border-radius: 0 3px 0 0;
	background-color: transparent;
	outline: none;
	border: none;
	border-color: transparent;
	box-shadow: none;
	color: transparent;
	margin:0;
}

:local(.main) .bp3-button[class*="pt-icon-"]::before{
	color: transparent;
}

:local(.main) .bp3-button {
	background-image: none;
	font-weight: 400;
	border: none;
	outline: none;
	box-shadow: none;
	border-radius: 6px;
	margin: 0 auto;
	min-height: 30px;
	font-size: 18px;
	line-height: 18px;
	margin-top: 4px;
	position: relative;
	display: inline-block;
}

:local(.main) .btn-select{
	margin: 7px 30px 13px;
}

:local(.main) .btn-select button{
	box-shadow: none !important;
	background-image: none;
	color: #fff;
	padding: 0px 8px;
	background-color: #3fb4f0;
	border: 0px solid transparent;
	outline: none;
	border-radius: 6px;
	margin: 0;
}

:local(.main) .btn-select button:hover{
	box-shadow:none;
	background-clip: padding-box;
	background-color: #3fb4f0;
}


:local(.main) .bp3-tab[aria-selected="true"],
.bp3-tab:not([aria-disabled="true"]):hover{
	color: #E60000;
}
:local(.main) .bp3-tab[aria-selected="true"] {
	border-radius: 0;
	box-shadow: inset 0 -3px 0 #E60000 !important;
}

:local(.main) .bp3-tab {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	flex: 0 0 auto;
	position: relative;
	cursor: pointer;
	max-width: 100%;
	vertical-align: top;
	line-height: 30px;
	color: #182026;
	font-size: 16px;
}
:local(.main) .bp3-tab-indicator-wrapper{
	height: 30px;
	transform: translateX(0px) translateY(0px);
	width: 36px;
}

:local(.main) .bp3-button:not([class*="pt-intent-"]){
	box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
}

:local(.main) .bp3-button:not([class*="pt-intent-"]):hover {
	box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
}

:local(.main) .bp3-button .action-button{
	border-radius: 6px;
	height: 30px;
	width: 98px;
}
:local(.main) .bp3-button {
	display: inline-block;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	padding: 0 10px;
	vertical-align: middle;
	font-size: 14px;
	min-width: 30px;
	min-height: 30px;
	line-height: 30px;
}