.configItemBlock {
  margin-bottom: 15px;
}

.headerBoardListBlock {
  display: inline-block;
  margin-right: 7px;
  margin-top: 15px;
  font-family: 'VodafoneExB', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #e60000;
}

