.usersList {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.userLink {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  margin-bottom: 30px;
  margin-left: 22px;
  width: 31%;
}

.mainBlock {
  display: flex;
  position: relative;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 100%;
}

.userLogo {
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  width: 100%;
  padding-bottom: 5px;
  word-wrap: break-word;
}

.userName {
  margin-top: 10px;
  text-align: left;
  letter-spacing: 1px;
  font-family: 'VodafoneRg', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.userPosition {
  text-align: left;
  letter-spacing: 1.6px;
  font-family: 'VodafoneRg', sans-serif;
  font-size: 13px;
}

.userNumber {
  display: flex;
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 6px;
  font-size: 30px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  background-color: #a3a8a9;
  color: #ffffff;
}

.showMore {
  display: inline-block;
  margin: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  font-family: 'VodafoneRg', sans-serif;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

@media all and (min-width: 940px) and (max-width: 940px) {
  .userLink {
    margin-right: 0;
    margin-left: 10px;
    width: 32%;
  }
  .userLogo {
    width: 47px;
    height: 47px;
  }
}

@media all and (min-width: 800px) and (max-width: 800px) {
  .userLink {
    margin-right: 0;
    margin-left: 9px;
    width: 32%;
  }
  .userLogo {
    width: 47px;
    height: 47px;
  }
}

@media (min-width: 460px) and (max-width: 460px) {
  .userLink {
    margin-bottom: 25px !important;
  }
  .userInfo {
    padding-right: 5px !important;
  }
  .userName {
    letter-spacing: 1.2px;
    font-size: 14px;
  }
  .userPosition {
    letter-spacing: 1.2px;
    font-size: 11px;
  }
  .userNumber {
    padding: 0 6px !important;
  }
}

@media (min-width: 301px) and (max-width: 640px) {
  .userLogo {
    width: 60px;
    height: 60px;
  }
  .userLink {
    width: 100% !important;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .userLogo {
    width: 60px;
    height: 60px;
  }
  .userInfo {
    padding-right: 5px;
  }
}


@media (max-width: 300px) {
  .userLink {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .userInfo {
    padding-right: 5px;
  }
  .userLogo {
    width: 60px;
    height: 60px;
  }
}