.titlePanelConfiguration {
  text-transform: uppercase;
  font-family: 'VodafoneExB', sans-serif;
  font-size: 18px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #e60000;
  text-align: center;
  margin-bottom: 25px;
}
