$colorTypeConfigTitle: #e60000;

:local(.main) {
  padding: 33px 0 50px;
  word-spacing: 2px;
  letter-spacing: 0.5px;
}

:local(.main) input[type='text'] {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid #767676;
  box-sizing: border-box;
  border-radius: 17px;
  padding: 8px 12px;
  &::placeholder {
    &::first-letter {
      font-family: 'VodafoneLt', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      color: #a7a7a7;
    }
  }
}

.iconArrow {
  font-family: 'VodafoneRg', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #e60000;
  width: 19px !important;
  height: 19px;
}

:local(.main) input {
  outline: none;
}

.addUserBlock {
  padding-top: 40px;
  margin-bottom: 10px;
}

.userForm {
  padding-top: 25px;
  padding-left: 12px;
}

.buttonFindOrAddUser {
  display: inline-block;
  background: $colorTypeConfigTitle;
  box-shadow: inset 0px 0px 18px rgba(255, 255, 255, 0.62);
  border-radius: 5px;
  padding: 10px 5px;
  & .buttonFindorAddText {
    display: inline-block;
    margin-right: 15px;
    font-family: 'VodafoneRg' sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  & .icon {
    color: #ffffff;
  }
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

.typeConfigTitle {
  display: inline-block;
  font-family: 'VodafoneRg', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #e60000;
  margin-bottom: 5px;
  padding-left: 12px;
}

.typeConfigTitle .optionality {
  text-transform: lowercase;
  display: inline-block;
  font-family: 'VodafoneLt', sans-serif;
  font-size: 12px;
  color: #8b8b8b;
}

.typeConfigTitle .optionality::first-letter {
  text-transform: uppercase;
}

.hintText {
  margin-top: 3px;
  padding-left: 12px;
  font-size: 12px;
  color: #5a5a5a;
}

.boardListBlock {
  margin: 10px 0 10px 12px;
  border-left: 1px solid #999999;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-top: 1px solid #999999;
  border-radius: 10px;
  padding: 20px;
  max-height: 280px;
  overflow-y: auto;
}

.boardListItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px 15px 10px 10px;
  border: 2px dotted grey;
  cursor: move;
}

.boardListItemTitle {
  display: flex;
  align-items: center;
  margin-right: 7px;
  font-family: 'VodafoneRg', sans-serif;
  font-size: 14px;
  color: black;
  font-size: 12px;
  user-select: none;
  width: 90%;
  word-spacing: initial !important;
  letter-spacing: initial !important;
  word-break: break-all;
}

.boardListItemTools {
  width: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: black;
  cursor: auto;
}

.userNumberInput {
  display: inline-block !important;
  width: 55px;
  min-width: 55px;
  text-align: center !important;
  margin: 0 1px 0 0 !important;
  padding: 3px 0 3px 0px !important;
}

/* Chrome, Safari, Edge, Opera */
input.userNumberInput::-webkit-inner-spin-button,
input.userNumberInput::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type='number'].userNumberInput {
  -moz-appearance: textfield; /* Firefox */
}

.inputArrows {
  display: inline-block;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-right: 10px;
}

.inputIncrement {
  display: block;
  font-size: 20px;
  position: relative;
  top: 3px;
  cursor: default;
}

.inputDecrement {
  display: block;
  font-size: 20px;
  position: relative;
  bottom: 3px;
  cursor: default;
}

.save {
  font-family: 'VodafoneLt', sans-serif !important;
  font-weight: 100 !important;
  border-radius: 20px !important;
  background-color: #a8b400 !important;
  border-color: #a8b400 !important;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 10px;
  box-shadow: none !important;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.buttonSuccess {
  color: #fff !important;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.buttonDefault {
  color: #333 !important;
  background-color: #fff;
  border-color: #ccc;
}

.buttonDisabled {
  color: #fff !important;
  background-color: #9b9c9c !important;
  border-color: #9b9c9c !important;
  cursor: not-allowed;
}

.cancel {
  font-family: 'VodafoneRg', sans-serif !important;
  font-weight: 100 !important;
  border-radius: 20px !important;
  background-color: #ffffff !important;
  border-color: #000000 !important;
  margin-top: 20px;
  margin-right: 20px;
  box-shadow: none !important;
}

input,
button {
  outline: none !important;
}

input:focus,
button:focus {
  outline: none !important;
}

.toaster {
  position: absolute;
  max-width: 230px;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 40;
  overflow: hidden;
}

.toaster > div {
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.toaster button {
  display: none;
}

.toaster-success > div {
  background-color: #0f9960;
}

.toaster-warning > div {
  background-color: #ff0000;
}

.toaster-error > div {
  background-color: #ffd900;
}

.modalPopover {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(203, 203, 203);
  box-shadow: rgba(0, 0, 0, 0.59) 0px 4px 17px 0px;
  padding: 7px 9px;
  background-color: #fff;
  right: 3px;
  width: 99%;
  height: 99%;
  top: 0px;
  font-size: 14px;
  font-family: 'VodafoneRgB', sans-serif;
  font-weight: 700;
  color: #e60000;
}

.modalPopoverButton {
  margin-right: 10px;
  padding: 2px 10px 2px;
  border: 1px solid grey;
  border-radius: 30px;
  cursor: pointer;
}
