.configItemBlock {
  margin-bottom: 15px;
}

.headerBoardBlock {
  display: inline-block;
  margin-right: 7px;
  font-family: 'VodafoneExB', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #e60000;
}

.checkBoxHideImg {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
