.formBoard {
  padding-top: 15px;
}

.inputBlock {
  margin-bottom: 15px;
}

.isUserNumber {
  margin-left: 10px;
}

.customTitle {
  margin-bottom: 0 !important;
}

.inputBlockCustomStyle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.colorPickerCustom {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
.inputNumber {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.inputNumber .bp3-button {
  display: flex;
  position: relative;
  top: -2px;
  box-shadow: none;
  background-color: transparent;
  outline: none !important;
}

.inputNumber .bp3-button:hover {
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.inputNumber .bp3-icon {
  color: #000 !important;
}
.inputNumber input {
  display: block;
  margin-left: 25px;
  text-align: center;
  max-width: 52px;
  padding: 5px 3px 5px 5px !important;
  border: 0.5px solid #767676 !important;
  border-radius: 5px !important;
  box-shadow: none !important;
  line-height: 0;
  color: #000 !important;
  cursor: unset !important;
}

.inputNumber .bp3-fixed {
  margin-left: 1px !important;
}