.boardBlock {
  display: flex;
  align-items: center;
}

.addBlockButton {
  display: inline-block;
  background: #4e1750;
  box-shadow: inset 0px 0px 18px rgba(255, 255, 255, 0.62);
  border-radius: 5px;
  padding: 15px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.headerBoardBlock {
  display: inline-block;
  margin-right: 7px;
  font-family: 'VodafoneExB', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #e60000;
}
