.leaderBoard {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;
  user-select: none;
}

@media only  screen and (min-width: 800px) and (max-width: 800px) {
  .leaderBoard {
    margin-bottom: 30px;
  }
}

@media only  screen and (min-width: 460px) and (max-width: 460px) {
  .leaderBoard {
    margin-bottom: 30px;
  }
}

@media only  screen and (min-width: 300px) and (max-width: 300px) {
  .leaderBoard {
    margin-bottom: 30px;
  }
}

@media only  screen and (max-width: 640px) and (min-width: 301px) {
  .leaderBoard {
    margin-bottom: 30px;
  }
}
