*, *:before, *:after {
    box-sizing: border-box;
}

/*https://socialedgeconsulting.jiveon.com/docs/DOC-31128-fix-for-ios-slowlagging-rendering*/
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        html {
            /* enforces rendering hardware acceleration on iOS safari */
            -webkit-transform: translate3d(0,0,0)
        }
    }
}



body {
    color: #1f1f1f;
    font: 13px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /* iOS width fix */
    position: fixed;
    width: 100%;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: -5px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.column {
    float: left;
    box-sizing: border-box;
}

.w50 {
    width: 50%;
}

#hover {
    display: none;
    position: fixed;
    z-index: 100;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}